<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Grid.WPF" version="17.3.0.28" targetFramework="net40" />
  <package id="Syncfusion.GridCommon.Wpf" version="17.3.0.28" targetFramework="net40" />
  <package id="Syncfusion.Licensing" version="17.3.0.28" targetFramework="net40" />
  <package id="Syncfusion.Linq.Base" version="17.3.0.28" targetFramework="net40" />
  <package id="Syncfusion.Shared.WPF" version="17.3.0.28" targetFramework="net40" />
</packages>